<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbolo.syk.view.dao.LabelMappingEntityMapper" >
  <resultMap id="BaseResultMap" type="com.sbolo.syk.view.po.LabelMappingEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="label_id" property="labelId" jdbcType="VARCHAR" />
    <result column="movie_id" property="movieId" jdbcType="VARCHAR" />
    <result column="pure_name" property="pureName" jdbcType="VARCHAR" />
    <result column="release_time" property="releaseTime" jdbcType="TIMESTAMP" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, label_id, movie_id, pure_name, release_time, label, create_time, update_time
  </sql>
  <select id="selectLabelsGroupLabel" resultType="java.lang.String" >
    select t.label from label_mapping t GROUP BY t.label
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from label_mapping
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sbolo.syk.view.po.LabelMappingEntity" >
    insert into label_mapping (id, label_id, movie_id, pure_name, release_time, 
      label)
    values (#{id,jdbcType=INTEGER}, #{labelId,jdbcType=VARCHAR}, #{movieId,jdbcType=VARCHAR}, #{pureName,jdbcType=VARCHAR}, #{releaseTime,jdbcType=TIMESTAMP}, 
      #{label,jdbcType=VARCHAR})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into label_mapping (label_id, movie_id, pure_name, release_time, label, create_time, update_time
      )
    values 
    <foreach collection="list" item="item" index="index" separator=",">
     (#{item.labelId,jdbcType=VARCHAR}, #{item.movieId,jdbcType=VARCHAR}, #{item.pureName,jdbcType=VARCHAR}, #{item.releaseTime,jdbcType=TIMESTAMP}, #{item.label,jdbcType=VARCHAR}, 
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.sbolo.syk.view.po.LabelMappingEntity" >
    insert into label_mapping
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="labelId != null" >
        label_id,
      </if>
      <if test="movieId != null" >
        movie_id,
      </if>
      <if test="pureName != null" >
        pure_name,
      </if>
      <if test="releaseTime != null" >
        release_time,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="labelId != null" >
        #{labelId,jdbcType=VARCHAR},
      </if>
      <if test="movieId != null" >
        #{movieId,jdbcType=VARCHAR},
      </if>
      <if test="pureName != null" >
        #{pureName,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null" >
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sbolo.syk.view.po.LabelMappingEntity" >
    update label_mapping
    <set >
      <if test="labelId != null" >
        label_id = #{labelId,jdbcType=VARCHAR},
      </if>
      <if test="movieId != null" >
        movie_id = #{movieId,jdbcType=VARCHAR},
      </if>
      <if test="pureName != null" >
        pure_name = #{pureName,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null" >
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>