<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbolo.syk.view.dao.ResourceInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.sbolo.syk.view.po.ResourceInfoEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="resource_id" property="resourceId" jdbcType="VARCHAR" />
    <result column="movie_id" property="movieId" jdbcType="VARCHAR" />
    <result column="pure_name" property="pureName" jdbcType="VARCHAR" />
    <result column="release_time" property="releaseTime" jdbcType="TIMESTAMP" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="format" property="format" jdbcType="VARCHAR" />
    <result column="definition" property="definition" jdbcType="INTEGER" />
    <result column="quality" property="quality" jdbcType="VARCHAR" />
    <result column="resolution" property="resolution" jdbcType="VARCHAR" />
    <result column="speed" property="speed" jdbcType="INTEGER" />
    <result column="download_link" property="downloadLink" jdbcType="VARCHAR" />
    <result column="season" property="season" jdbcType="INTEGER" />
    <result column="episode_start" property="episodeStart" jdbcType="INTEGER" />
    <result column="episode_end" property="episodeEnd" jdbcType="INTEGER" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="photos" property="photos" jdbcType="VARCHAR" />
    <result column="come_from_url" property="comeFromUrl" jdbcType="VARCHAR" />
    <result column="resource_status" property="resourceStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, resource_id, movie_id, pure_name, release_time, size, format, definition, quality, resolution, speed, 
    download_link, season, episode_start, episode_end, subtitle, photos, come_from_url, resource_status, create_time, update_time
  </sql>
  <select id="selectByResourceId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from resource_info
    where resource_id = #{resourceId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByMovieIdOrder" resultMap="BaseResultMap" parameterType="java.util.Map">
  	SELECT
		<include refid="Base_Column_List" />
	FROM
		resource_info
	WHERE
		movie_id = #{movieId} and resource_status = 1
	ORDER BY
		<choose>
			<when test="istv">
				episode_end ASC, subtitle DESC
			</when>
			<otherwise>
				create_time DESC
			</otherwise>
		</choose>
  </select>
  
  <select id="selectByMovieIdOrderNostatus" resultMap="BaseResultMap" parameterType="java.util.Map">
  	SELECT
		<include refid="Base_Column_List" />
	FROM
		resource_info
	WHERE
		movie_id = #{movieId}
	ORDER BY
		<choose>
			<when test="istv">
				episode_end ASC, subtitle DESC
			</when>
			<otherwise>
				create_time DESC
			</otherwise>
		</choose>
  </select>
  
  <select id="selectAllByMovieId" resultMap="BaseResultMap" parameterType="java.util.Map">
  	SELECT
		<include refid="Base_Column_List" />
	FROM
		resource_info
	WHERE
		movie_id = #{movieId}
  </select>
  
  <select id="selectAllByMovieIdAndStatus" resultMap="BaseResultMap" parameterType="java.util.Map">
  	SELECT
		<include refid="Base_Column_List" />
	FROM
		resource_info
	WHERE
		movie_id = #{movieId} and resource_status = #{resourceStatus}
  </select>
  
  <select id="selectHighestResource" resultMap="BaseResultMap">
	SELECT
		<include refid="Base_Column_List" /> 
	FROM
		resource_info t1
	WHERE t1.movie_id = #{movieId}
	<if test="episode != null">
		And t1.episode_end = #{episode}
	</if>
	<choose>
		<when test="hasSubtitle">
			AND t1.subtitle is not null
		</when>
		<otherwise>
			AND t1.subtitle is null
		</otherwise>
	</choose>
	ORDER BY
		t1.definition DESC
	LIMIT 1
  </select>
  
  <select id="selectAllNoCondition" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from resource_info
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resource_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <update id="signStatusByResourceId" parameterType="java.util.Map">
  	update resource_info t set t.resource_status=#{resourceStatus} where t.resource_id=#{resourceId}
  </update>
  
  <update id="signStatusByMovieId" parameterType="java.util.Map">
  	update resource_info t set t.resource_status=#{resourceStatus} where t.movie_id=#{movieId}
  </update>
  
  
  <insert id="insert" parameterType="com.sbolo.syk.view.po.ResourceInfoEntity" >
    insert into resource_info (id, resource_id, movie_id, pure_name, release_time, 
      size, format, definition, 
      quality, resolution, speed, 
      download_link, season, episode_start, episode_end, 
      subtitle, photos, come_from_url, resource_status, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{resourceId,jdbcType=VARCHAR}, #{movieId,jdbcType=VARCHAR}, #{pureName,jdbcType=VARCHAR}, #{releaseTime,jdbcType=TIMESTAMP}, 
      #{size,jdbcType=VARCHAR}, #{format,jdbcType=VARCHAR}, #{definition,jdbcType=INTEGER}, 
      #{quality,jdbcType=VARCHAR}, #{resolution,jdbcType=VARCHAR}, #{speed,jdbcType=INTEGER}, 
      #{downloadLink,jdbcType=VARCHAR}, #{season,jdbcType=INTEGER}, #{episodeStart,jdbcType=INTEGER}, #{episodeEnd,jdbcType=INTEGER}, 
      #{subtitle,jdbcType=VARCHAR}, #{photos,jdbcType=VARCHAR}, #{comeFromUrl,jdbcType=VARCHAR}, #{resourceStatus,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into resource_info (resource_id, movie_id, pure_name, release_time, size, 
      format, definition, quality, 
      resolution, speed, download_link,
      season, episode_start, episode_end, subtitle, photos, come_from_url, resource_status, 
      create_time, update_time)
    values 
    <foreach collection="list" item="item" index="index" separator=",">
     (#{item.resourceId,jdbcType=VARCHAR}, #{item.movieId,jdbcType=VARCHAR}, #{item.pureName,jdbcType=VARCHAR}, #{item.releaseTime,jdbcType=TIMESTAMP}, #{item.size,jdbcType=VARCHAR}, 
      #{item.format,jdbcType=VARCHAR}, #{item.definition,jdbcType=INTEGER}, #{item.quality,jdbcType=VARCHAR}, 
      #{item.resolution,jdbcType=VARCHAR}, #{item.speed,jdbcType=INTEGER}, 
      #{item.downloadLink,jdbcType=VARCHAR}, #{item.season,jdbcType=INTEGER}, #{item.episodeStart}, #{item.episodeEnd,jdbcType=INTEGER}, 
      #{item.subtitle,jdbcType=VARCHAR}, #{item.photos,jdbcType=VARCHAR}, #{item.comeFromUrl,jdbcType=VARCHAR}, #{item.resourceStatus,jdbcType=INTEGER}, 
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.sbolo.syk.view.po.ResourceInfoEntity" >
    insert into resource_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="movieId != null" >
        movie_id,
      </if>
      <if test="pureName != null" >
        pure_name,
      </if>
      <if test="releaseTime != null" >
        release_time,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="format != null" >
        format,
      </if>
      <if test="definition != null" >
        definition,
      </if>
      <if test="quality != null" >
        quality,
      </if>
      <if test="resolution != null" >
        resolution,
      </if>
      <if test="speed != null" >
        speed,
      </if>
      <if test="downloadLink != null" >
        download_link,
      </if>
      <if test="season != null" >
        season,
      </if>
      <if test="episodeStart != null" >
        episode_start,
      </if>
      <if test="episodeEnd != null" >
        episode_end,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="photos != null" >
        photos,
      </if>
      <if test="comeFromUrl != null" >
        come_from_url,
      </if>
      <if test="resourceStatus != null" >
        resource_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="movieId != null" >
        #{movieId,jdbcType=VARCHAR},
      </if>
      <if test="pureName != null" >
        #{pureName,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null" >
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="format != null" >
        #{format,jdbcType=VARCHAR},
      </if>
      <if test="definition != null" >
        #{definition,jdbcType=INTEGER},
      </if>
      <if test="quality != null" >
        #{quality,jdbcType=VARCHAR},
      </if>
      <if test="resolution != null" >
        #{resolution,jdbcType=VARCHAR},
      </if>
      <if test="speed != null" >
        #{speed,jdbcType=INTEGER},
      </if>
      <if test="downloadLink != null" >
        #{downloadLink,jdbcType=VARCHAR},
      </if>
      <if test="season != null" >
        #{season,jdbcType=INTEGER},
      </if>
      <if test="episodeStart != null" >
        #{episodeStart,jdbcType=INTEGER},
      </if>
      <if test="episodeEnd != null" >
        #{episodeEnd,jdbcType=INTEGER},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="photos != null" >
        #{photos,jdbcType=VARCHAR},
      </if>
      <if test="comeFromUrl != null" >
        #{comeFromUrl,jdbcType=VARCHAR},
      </if>
      <if test="resourceStatus != null" >
        #{resourceStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  
  <update id="batchUpdateByResourceIdSelective" parameterType="com.sbolo.syk.view.po.ResourceInfoEntity" >
  <foreach collection="list" item="item" index="index" separator=";">
  	update resource_info
    <set >
      <if test="item.movieId != null" >
        movie_id = #{item.movieId,jdbcType=VARCHAR},
      </if>
      <if test="item.pureName != null" >
        pure_name = #{item.pureName,jdbcType=VARCHAR},
      </if>
      <if test="item.releaseTime != null" >
        release_time = #{item.releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="item.size != null" >
        size = #{item.size,jdbcType=VARCHAR},
      </if>
      <if test="item.format != null" >
        format = #{item.format,jdbcType=VARCHAR},
      </if>
      <if test="item.definition != null" >
        definition = #{item.definition,jdbcType=INTEGER},
      </if>
      <if test="item.quality != null" >
        quality = #{item.quality,jdbcType=VARCHAR},
      </if>
      <if test="item.resolution != null" >
        resolution = #{item.resolution,jdbcType=VARCHAR},
      </if>
      <if test="item.speed != null" >
        speed = #{item.speed,jdbcType=INTEGER},
      </if>
      <if test="item.downloadLink != null" >
        download_link = #{item.downloadLink,jdbcType=VARCHAR},
      </if>
      <if test="item.season != null" >
        season = #{item.season,jdbcType=INTEGER},
      </if>
      <if test="item.episodeStart != null" >
        episode_start = #{item.episodeStart,jdbcType=INTEGER},
      </if>
      <if test="item.episodeEnd != null" >
        episode_end = #{item.episodeEnd,jdbcType=INTEGER},
      </if>
      <if test="item.subtitle != null" >
        subtitle = #{item.subtitle,jdbcType=VARCHAR},
      </if>
      <if test="item.photos != null" >
        photos = #{item.photos,jdbcType=VARCHAR},
      </if>
      <if test="item.comeFromUrl != null" >
        come_from_url = #{item.comeFromUrl,jdbcType=VARCHAR},
      </if>
      <if test="item.resourceStatus != null" >
        resource_status = #{item.resourceStatus,jdbcType=INTEGER},
      </if>
      <if test="item.updateTime != null" >
        update_time = #{item.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where resource_id = #{item.resourceId,jdbcType=VARCHAR}
  </foreach>
  </update>
  
  
  <update id="updateByResourceIdSelective" parameterType="com.sbolo.syk.view.po.ResourceInfoEntity" >
    update resource_info
    <set >
      <if test="movieId != null" >
        movie_id = #{movieId,jdbcType=VARCHAR},
      </if>
      <if test="pureName != null" >
        pure_name = #{pureName,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null" >
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="format != null" >
        format = #{format,jdbcType=VARCHAR},
      </if>
      <if test="definition != null" >
        definition = #{definition,jdbcType=INTEGER},
      </if>
      <if test="quality != null" >
        quality = #{quality,jdbcType=VARCHAR},
      </if>
      <if test="resolution != null" >
        resolution = #{resolution,jdbcType=VARCHAR},
      </if>
      <if test="speed != null" >
        speed = #{speed,jdbcType=INTEGER},
      </if>
      <if test="downloadLink != null" >
        download_link = #{downloadLink,jdbcType=VARCHAR},
      </if>
      <if test="season != null" >
        season = #{season,jdbcType=INTEGER},
      </if>
      <if test="episodeStart != null" >
        episode_start = #{episodeStart,jdbcType=INTEGER},
      </if>
      <if test="episodeEnd != null" >
        episode_end = #{episodeEnd,jdbcType=INTEGER},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="photos != null" >
        photos = #{photos,jdbcType=VARCHAR},
      </if>
      <if test="comeFromUrl != null" >
        come_from_url = #{comeFromUrl,jdbcType=VARCHAR},
      </if>
      <if test="resourceStatus != null" >
        resource_status = #{resourceStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where resource_id = #{resourceId,jdbcType=VARCHAR}
  </update>
</mapper>