<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbolo.syk.fetch.mapper.MovieInfoMapper">
  <resultMap id="BaseResultMap" type="com.sbolo.syk.fetch.entity.MovieInfoEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prn" jdbcType="VARCHAR" property="prn" />
    <result column="icon_uri" jdbcType="VARCHAR" property="iconUri" />
    <result column="poster_uri_json" jdbcType="VARCHAR" property="posterUriJson" />
    <result column="pure_name" jdbcType="VARCHAR" property="pureName" />
    <result column="another_name" jdbcType="VARCHAR" property="anotherName" />
    <result column="labels" jdbcType="VARCHAR" property="labels" />
    <result column="directors" jdbcType="VARCHAR" property="directors" />
    <result column="writers" jdbcType="VARCHAR" property="writers" />
    <result column="casts" jdbcType="VARCHAR" property="casts" />
    <result column="locations" jdbcType="VARCHAR" property="locations" />
    <result column="languages" jdbcType="VARCHAR" property="languages" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="release_time_format" jdbcType="VARCHAR" property="releaseTimeFormat" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="douban_id" jdbcType="VARCHAR" property="doubanId" />
    <result column="imdb_id" jdbcType="VARCHAR" property="imdbId" />
    <result column="douban_score" jdbcType="DECIMAL" property="doubanScore" />
    <result column="imdb_score" jdbcType="DECIMAL" property="imdbScore" />
    <result column="attention_rate" jdbcType="INTEGER" property="attentionRate" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="present_season" jdbcType="INTEGER" property="presentSeason" />
    <result column="total_episode" jdbcType="INTEGER" property="totalEpisode" />
    <result column="st" jdbcType="INTEGER" property="st" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="resource_write_time" jdbcType="TIMESTAMP" property="resourceWriteTime" />
    <result column="optimal_resource_prn" jdbcType="VARCHAR" property="optimalResourcePrn" />
    <result column="count_click" jdbcType="INTEGER" property="countClick" />
    <result column="count_comment" jdbcType="INTEGER" property="countComment" />
    <result column="count_download" jdbcType="INTEGER" property="countDownload" />
  </resultMap>
  
  <resultMap id="AssociationResourceMap" type="com.sbolo.syk.view.entity.MovieInfoEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prn" jdbcType="VARCHAR" property="prn" />
    <result column="icon_uri" jdbcType="VARCHAR" property="iconUri" />
    <result column="poster_uri_json" jdbcType="VARCHAR" property="posterUriJson" />
    <result column="pure_name" jdbcType="VARCHAR" property="pureName" />
    <result column="another_name" jdbcType="VARCHAR" property="anotherName" />
    <result column="labels" jdbcType="VARCHAR" property="labels" />
    <result column="directors" jdbcType="VARCHAR" property="directors" />
    <result column="writers" jdbcType="VARCHAR" property="writers" />
    <result column="casts" jdbcType="VARCHAR" property="casts" />
    <result column="locations" jdbcType="VARCHAR" property="locations" />
    <result column="languages" jdbcType="VARCHAR" property="languages" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="release_time_format" jdbcType="VARCHAR" property="releaseTimeFormat" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="douban_id" jdbcType="VARCHAR" property="doubanId" />
    <result column="imdb_id" jdbcType="VARCHAR" property="imdbId" />
    <result column="douban_score" jdbcType="DECIMAL" property="doubanScore" />
    <result column="imdb_score" jdbcType="DECIMAL" property="imdbScore" />
    <result column="attention_rate" jdbcType="INTEGER" property="attentionRate" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="present_season" jdbcType="INTEGER" property="presentSeason" />
    <result column="total_episode" jdbcType="INTEGER" property="totalEpisode" />
    <result column="st" jdbcType="INTEGER" property="st" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="resource_write_time" jdbcType="TIMESTAMP" property="resourceWriteTime" />
    <result column="optimal_resource_prn" jdbcType="VARCHAR" property="optimalResourcePrn" />
    <result column="count_click" jdbcType="INTEGER" property="countClick" />
    <result column="count_comment" jdbcType="INTEGER" property="countComment" />
    <result column="count_download" jdbcType="INTEGER" property="countDownload" />
    <association property="optimalResource" javaType="com.sbolo.syk.view.entity.ResourceInfoEntity">
		<id column="rid" jdbcType="BIGINT" property="id" />
	    <result column="rprn" jdbcType="VARCHAR" property="prn" />
	    <result column="movie_prn" jdbcType="VARCHAR" property="moviePrn" />
	    <result column="rpure_name" jdbcType="VARCHAR" property="pureName" />
	    <result column="rrelease_time" jdbcType="TIMESTAMP" property="releaseTime" />
	    <result column="size" jdbcType="VARCHAR" property="size" />
	    <result column="format" jdbcType="VARCHAR" property="format" />
	    <result column="definition" jdbcType="INTEGER" property="definition" />
	    <result column="quality" jdbcType="VARCHAR" property="quality" />
	    <result column="resolution" jdbcType="VARCHAR" property="resolution" />
	    <result column="speed" jdbcType="INTEGER" property="speed" />
	    <result column="download_link" jdbcType="VARCHAR" property="downloadLink" />
	    <result column="season" jdbcType="INTEGER" property="season" />
	    <result column="episode_start" jdbcType="INTEGER" property="episodeStart" />
	    <result column="episode_end" jdbcType="INTEGER" property="episodeEnd" />
	    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
	    <result column="printscreen_uri_json" jdbcType="VARCHAR" property="printscreenUriJson" />
	    <result column="come_from_url" jdbcType="VARCHAR" property="comeFromUrl" />
	    <result column="rst" jdbcType="INTEGER" property="st" />
	    <result column="rcreate_time" jdbcType="TIMESTAMP" property="createTime" />
	    <result column="rupdate_time" jdbcType="TIMESTAMP" property="updateTime" />
	</association>
  </resultMap>
  
  <select id="selectByAssociation" resultMap="AssociationResourceMap" parameterType="java.util.Map" >
  	select *, t1.id rid, t1.prn rprn, t1.pure_name rpure_name, 
  		t1.release_time rrelease_time, t1.st rst, 
  		t1.create_time rcreate_time, t1.update_time rupdate_time
    from movie_info t, resource_info t1
	WHERE 
		t.optimal_resource_prn = t1.prn and t.st = 1
		<if test="keyword != null">
    		and (LOCATE(#{keyword}, t.pure_name)>0 or LOCATE(#{keyword}, t.another_name)>0 or LOCATE(#{keyword}, t.casts)>0)
    	</if>
  </select>
  
  <select id="selectAssociationByMoviePrn" resultMap="AssociationResourceMap" parameterType="java.util.Map" >
  	select select *, t1.id rid, t1.prn rprn, t1.pure_name rpure_name, 
  		t1.release_time rrelease_time, t1.st rst, 
  		t1.create_time rcreate_time, t1.update_time rupdate_time
  	from movie_info t, resource_info t1
  	where 
  		t.optimal_resource_Prn = t1.prn and
  		t.prn=#{moviePrn}
  </select>
  
  <select id="selectByAssociationWithLabel" resultMap="AssociationResourceMap" parameterType="java.util.Map" >
  	SELECT *, t1.id rid, t1.prn rprn, t1.pure_name rpure_name, 
  		t1.release_time rrelease_time, t1.st rst, 
  		t1.create_time rcreate_time, t1.update_time rupdate_time
  	FROM 
  		(select b.movie_prn from movie_label b where b.label_name = #{label}) a, movie_info t, resource_info t1
  	WHERE t.prn = a.movie_prn and t.optimal_resource_prn = t1.prn and t.st = 1
  </select>
  
  <select id="selectByPureNameAndPrecision" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select * from movie_info
  	<where>
  		pure_name = #{pureName}
  		<if test="precision != null">
  			and (LOCATE(#{precision}, directors)>0 or LOCATE(#{precision}, casts)>0)
  		</if>
  	</where>
  	limit 1
  </select>
  
</mapper>