<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbolo.syk.fetch.mapper.MovieDictMapper">
  <resultMap id="BaseResultMap" type="com.sbolo.syk.fetch.entity.MovieDictEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="root_code" jdbcType="VARCHAR" property="rootCode" />
    <result column="val" jdbcType="VARCHAR" property="val" />
    <result column="st" jdbcType="INTEGER" property="st" />
    <result column="tier" jdbcType="INTEGER" property="tier" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <select id="selectByCodes" parameterType="java.util.List" resultMap="BaseResultMap">
  	select * from movie_dict where `code` in 
  	<foreach collection="list" open="(" close=")" item="item" separator=",">
  		#{item}
  	</foreach>
  </select>
  
  <select id="selectByVals" parameterType="java.util.Set" resultType="java.lang.String">
  	select val from movie_dict where `parent_code` = #{parentCode} and `val` in 
  	<foreach collection="set" open="(" close=")" item="item" separator=",">
  		#{item}
  	</foreach>
  </select>
  
  <select id="selectByRootCodes" parameterType="java.util.List" resultMap="BaseResultMap">
  	select * from movie_dict where `root_code` in 
  	<foreach collection="list" open="(" close=")" item="item" separator=",">
  		#{item}
  	</foreach>
  </select>
  
</mapper>