<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbolo.syk.fetch.mapper.MovieFileIndexMapper">
  <resultMap id="BaseResultMap" type="com.sbolo.syk.fetch.entity.MovieFileIndexEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="source_url" jdbcType="VARCHAR" property="sourceUrl" />
    <result column="fix_uri" jdbcType="VARCHAR" property="fixUri" />
    <result column="file_v" jdbcType="INTEGER" property="fileV" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <select id="selectBatchBySourceUrl" parameterType="java.util.Set" resultMap="BaseResultMap">
  	select * from movie_file_index where source_url in 
  	<foreach collection="set" open="(" close=")" item="item" separator=",">
  		#{item}
  	</foreach>
  </select>
</mapper>