<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbolo.syk.view.mapper.ResourceInfoMapper">
  <resultMap id="BaseResultMap" type="com.sbolo.syk.view.entity.ResourceInfoEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prn" jdbcType="VARCHAR" property="prn" />
    <result column="movie_prn" jdbcType="VARCHAR" property="moviePrn" />
    <result column="pure_name" jdbcType="VARCHAR" property="pureName" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="format" jdbcType="VARCHAR" property="format" />
    <result column="definition" jdbcType="INTEGER" property="definition" />
    <result column="quality" jdbcType="VARCHAR" property="quality" />
    <result column="resolution" jdbcType="VARCHAR" property="resolution" />
    <result column="speed" jdbcType="INTEGER" property="speed" />
    <result column="download_link" jdbcType="VARCHAR" property="downloadLink" />
    <result column="season" jdbcType="INTEGER" property="season" />
    <result column="episode_start" jdbcType="INTEGER" property="episodeStart" />
    <result column="episode_end" jdbcType="INTEGER" property="episodeEnd" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="shot_uri_json" jdbcType="VARCHAR" property="shotUriJson" />
    <result column="come_from_url" jdbcType="VARCHAR" property="comeFromUrl" />
    <result column="st" jdbcType="INTEGER" property="st" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <select id="selectByMoviePrnOrder" resultMap="BaseResultMap" parameterType="java.util.Map">
  	SELECT *
	FROM
		resource_info
	WHERE
		movie_prn = #{moviePrn} and st = 1
	ORDER BY
		<choose>
			<when test="istv">
				episode_end ASC, subtitle DESC
			</when>
			<otherwise>
				create_time DESC
			</otherwise>
		</choose>
  </select>
  
  
</mapper>