<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbolo.syk.view.mapper.SykMessageMapper">
  <resultMap id="BaseResultMap" type="com.sbolo.syk.view.entity.SykMessageEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prn" jdbcType="VARCHAR" property="prn" />
    <result column="pkey" jdbcType="VARCHAR" property="pkey" />
    <result column="msg_content" jdbcType="VARCHAR" property="msgContent" />
    <result column="msg_level" jdbcType="INTEGER" property="msgLevel" />
    <result column="parent_prn" jdbcType="VARCHAR" property="parentPrn" />
    <result column="prn_line" jdbcType="VARCHAR" property="prnLine" />
    <result column="root_prn" jdbcType="VARCHAR" property="rootPrn" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="author_prn" jdbcType="VARCHAR" property="authorPrn" />
    <result column="author_ip" jdbcType="VARCHAR" property="authorIp" />
    <result column="author_location" jdbcType="VARCHAR" property="authorLocation" />
    <result column="user_agent" jdbcType="VARCHAR" property="userAgent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  
  <resultMap id="AssociationResultMap" type="com.sbolo.syk.view.entity.SykMessageEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prn" jdbcType="VARCHAR" property="prn" />
    <result column="pkey" jdbcType="VARCHAR" property="pkey" />
    <result column="msg_content" jdbcType="VARCHAR" property="msgContent" />
    <result column="msg_level" jdbcType="INTEGER" property="msgLevel" />
    <result column="parent_prn" jdbcType="VARCHAR" property="parentPrn" />
    <result column="prn_line" jdbcType="VARCHAR" property="prnLine" />
    <result column="root_prn" jdbcType="VARCHAR" property="rootPrn" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="author_prn" jdbcType="VARCHAR" property="authorPrn" />
    <result column="author_ip" jdbcType="VARCHAR" property="authorIp" />
    <result column="author_location" jdbcType="VARCHAR" property="authorLocation" />
    <result column="user_agent" jdbcType="VARCHAR" property="userAgent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="liked" jdbcType="INTEGER" property="liked" />
    <association property="author" javaType="com.sbolo.syk.view.entity.SykUserEntity">
		<id column="uid" jdbcType="BIGINT" property="id" />
	    <result column="uprn" jdbcType="VARCHAR" property="prn" />
	    <result column="username" jdbcType="VARCHAR" property="username" />
	    <result column="password" jdbcType="VARCHAR" property="password" />
	    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
	    <result column="email" jdbcType="VARCHAR" property="email" />
	    <result column="wechat_info_prn" jdbcType="VARCHAR" property="wechatInfoPrn" />
	    <result column="weibo_info_prn" jdbcType="VARCHAR" property="weiboInfoPrn" />
	    <result column="user_type" jdbcType="INTEGER" property="userType" />
	    <result column="st" jdbcType="INTEGER" property="st" />
	    <result column="avatar_uri" jdbcType="VARCHAR" property="avatarUri" />
	    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
	    <result column="ucreate_time" jdbcType="TIMESTAMP" property="createTime" />
	    <result column="uupdate_time" jdbcType="TIMESTAMP" property="updateTime" />
	</association>
  </resultMap>
  
  <select id="selectAssociationByHot" resultMap="AssociationResultMap">
  	select 
  		*, 
  		t1.id uid, 
  		t1.prn uprn, 
  		t1.create_time ucreate_time, 
  		t1.update_time uupdate_time,
		( CASE WHEN t2.prn IS NULL THEN FALSE ELSE TRUE END ) AS liked 
    from 
    	syk_message t
		LEFT JOIN syk_user t1 ON t.author_prn = t1.prn
		LEFT JOIN syk_message_like t2 ON t.prn = t2.msg_prn 
	WHERE 
		t.like_count &gt;= #{likeCount} and t.pkey = #{pkey}
  </select>
  
  <select id="batchSelectAssociationByRootPrns" resultMap="AssociationResultMap" parameterType="java.util.List" >
  	select 
  		*, 
  		t1.id uid, 
  		t1.prn uprn, 
  		t1.create_time ucreate_time, 
  		t1.update_time uupdate_time,
		( CASE WHEN t2.prn IS NULL THEN FALSE ELSE TRUE END ) AS liked 
    from 
    	syk_message t
		LEFT JOIN syk_user t1 ON t.author_prn = t1.prn
		LEFT JOIN syk_message_like t2 ON t.prn = t2.msg_prn 
	WHERE 
		t.root_prn in
		<foreach collection="list" open="(" close=")" item="item" separator=",">
	  		#{item}
	  	</foreach>
  </select>
  
  <select id="countMessageByAuthor" resultType="java.util.Map" parameterType="java.util.Set" >
  	select author_prn, count(1) msg_count 
  	from syk_message 
  	where pkey = #{pkey} and author_prn in 
  	<foreach collection="set" open="(" close=")" item="item" separator=",">
		#{item}
	</foreach>
  	group by author_prn
  </select>
  
  <delete id="deleteByPrns" parameterType="java.util.List" >
  	delete from syk_message where prn in
  	<foreach collection="list" open="(" close=")" item="item" separator=",">
  		#{item}
  	</foreach>
  </delete>
  
</mapper>